@import "variables";
@import "font";

#webchat {
  &.polls {
    .push-messages-container {
      background-color: $theme-color1;
      .push-avatar {
        display: none;
      }
    }

    .push-conversation-container {
      .push-message {
        margin: 10px 0;
      }

      .push-response {
        border-radius: $border-radius;
        font-family: OpenSansRegular;
        font-size: $fontSize;
        background-color: $white-color;
        line-height: 26px;
        color: $theme-color2;
        padding: 24px;
      }

      .push-group-message.push-from-response {
        .push-message {
          &:first-child:not(:only-child) {
            margin-bottom: 10px;

            .push-response {
              border-radius: $border-radius;
            }
          }

          &:not(:first-child):not(:only-child).push-with-avatar {
            margin-left: 0;
          }

          &:not(:first-child):not(:last-child):not(:last-child) {
            margin-top: 8px;
            margin-bottom: 8px;
          }

          &:last-child:not(:only-child) {
            margin-top: 0;
          }

          &:not(:first-child) .push-response {
            border-radius: $border-radius;
          }

          &:not(:first-child):not(:last-child):not(:last-child) .push-response {
            border-radius: $border-radius;
          }
        }
      }

      .push-quickReplies-container {
        margin-top: 10px;
      }

      .push-replies {
        margin: 20px 0;
        background-color: $white-color;
        border-radius: $border-radius;
        padding: 16px 24px;
      }

      .push-client {
        background-color: $white-color;
        width: 100%;
        border-radius: $border-radius;
        font-family: OpenSansRegular;
        font-size: $fontSize;
        line-height: 26px;
        color: $theme-color2;
      }

      .push-reply {
        width: 100%;
        margin: 0;
        border: none;
        font-family: OpenSansRegular;
        font-size: $fontSize;
        color: $theme-color2;
        padding: 19px 0;
        border-bottom: 1px dashed $theme-color3;
        border-radius: 0;
        justify-content: flex-start;
        text-align: left;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    @media screen and (max-width: 800px) {
      .push-messages-container {
        background-color: transparent;
      }
    }
  }
}

