@import "variables";
@import "chat";
@import "polls";
@import "reportrumors";

body {
  font-family: OpenSansRegular, Verdana, sans-serif;

  @media screen and (max-width: $mobileResolution) {
    background-color: transparent;
  }
}

#webchat {
  .push-messages-container {
    padding: 18px !important;

    .push-avatar {
      width: $avatarSize;
      height: $avatarSize;
      border-radius: 0;
      margin: 4px 6px 0 0;
    }
  }

  .push-conversation-container {
    .push-poweredby-container {
      display: none;
    }
    .push-header {
      background-color: $theme-color2;
    }
  }
  .push-launcher {
    background-color: $theme-color2;
  }

  div#push-wave {
    .push-dot{
      background-color: $theme-color4;
    }
    .push-dot:nth-child(2){
      background-color: $theme-color2;
    }
    .push-dot:nth-child(3) {
      background-color: $theme-color3;
    }
  }

  @media screen and (max-width: $mobileResolution) {
    .push-messages-container {
      background-color: transparent;
    }
    .push-conversation-container {
      box-shadow: none;

      .push-header-and-loading {
        display: none;
      }

      .push-quickReplies-container {
        width: 100%;
      }

      .push-sender {
        display: none;
      }
    }
  }
}

