$theme-color1: #E4F5FF;
$theme-color2: #152FBF;
$theme-color3: #1CABE2;
$theme-color4: #8DD3FF;

$white-color: #FFFFFF;
$chatBackground: #FAFAFA;

$border-radius: 19px;
$avatarSize: 36px;
$fontSize: 16px;
